<footer class="fixed-bottom text-white text-center">
  <div class="row">
    <div class="col-md-6">Hack Academy 2023 &copy; All rights reserved</div>
    <div class="col-md-6">
      <dd>Created By</dd>
      <ul>
        <li><a href="#">Ivan Pintos</a></li>
        <li><a href="#">Nicolas Martinez</a></li>
        <li><a href="#">Martin Pintos</a></li>
        <li><a href="#">Ignacio Cúneo</a></li>
        <li><a href="#">Martin Grillo</a></li>
      </ul>
    </div>
  </div>
</footer>
